<!doctype html>
<html>
<head>
    <meta charset = "utf-8">
    <meta name="viewpoint" content="width = device-width, initial-scale = 1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <title> Project Stocks</title>

</head>

<body>
<div class = "container-fluid">
<h1> User Input </h1>

<h2>Please enter a stock ticker eg. GOOG, and check desired features.</h2>

<form method='post' action='plotpage' >

    <div class = "form-group">
        Ticker Symbol : <input type='text' name='tickerText' />
    </br>
    </div class = "checkbox">
    <div>
    <input type="checkbox" name='priceCheck' value='Close' align='left' checked='yes' /> Closing price<br>
    <input type="checkbox" name='priceCheck1' value='Open' align='left' /> Opening price<br>
    <input type="checkbox" name='priceCheck2' value='High' align='left' /> Highest price of the day<br>
    <input type="checkbox" name='priceCheck3' value='Low' align='left' /> Lowest price of the day<br>
    </div>
    <br>
    <input class = "btn btn-success" type='submit' value='Plot' />
</form>
    </div>
</body>
</html>